.image-container {
  background-color: var(--light-color);
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.image-res {
  width: 25rem;
  height: auto;
  object-fit: contain;
}
.image-res.circle {
  width: 15rem;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}
