@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
  --primary-color: #1d4ed8;
  --alternate-color: blueviolet;
  --white-color: white;
  --black-color: black;
  --light-color: #f9f9f0;
  --info-color: skyblue;
  --error-color: red;
  --warn-color: orange;
  --sucess-color: lightgreen;
  --gray-color: gray;
}
body {
  font-family: "Ubuntu", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
i {
  padding: 0;
}
ul,
li {
  list-style-type: none;
}

img,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}
