@import "base.css";
@import "resets.css";
@import "utility.css";

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  width: max-content;
}
.sidebar-heading {
  font-size: 1.5rem;
  margin: 1rem;
}

.sidebar-item {
  font-size: 1.25rem;
}
