@import "base.css";
@import "resets.css";
@import "utility.css";

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  width: max-content;
  position: fixed;
}
.sidebar-heading {
  font-size: 1.3rem;
  margin: 0.7rem;
}

.sidebar-item {
  font-size: 1.25rem;
  padding-left: 2rem;
  padding-bottom: 0.6rem;
  transition: 0.3s border-bottom ease-in-out;
}
