@import "/stylesheets/navbar.css";
@import "/stylesheets/base.css";
@import "/stylesheets/utility.css";
@import "/stylesheets/reset.css";
@import "/stylesheets/sidebar.css";
@import "/components/avatar/avatar.css";
@import "/components/alert/alert.css";
@import "/components/button/button.css";
@import "/components/card/card.css";
@import "/components/badge/badge.css";
@import "/components/image/image.css";

header {
  grid-area: head;
}
.screen {
  display: flex;
  gap: 3rem;
}
.sidebar {
  width: max-content;
}
.content {
  position: relative;
  left: 20rem;
  top: 3rem;
  width: 85%;
  display: flex;
  flex-direction: column;
}
hr {
  width: 50%;
  border: none;
  border-top: 1px solid var(--black-color);
  margin: auto;
}
.code-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
